<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishek.mvvmdemo.integration">
    <!-- Specify runner and target application package -->
    <instrumentation
        android:name="com.abhishek.mvvmdemo.integration.MyTestRunner"
        android:targetPackage="com.abhishek.mvvmdemo" />
</manifest>
